transformers
nltk==3.9
pandas==2.0.3
rouge~=1.0.1
torch==2.2.0
torchtext
openai~=1.59.6
code-bert-score~=0.4.1
scipy~=1.10.1
crystalbleu==0.1
matplotlib==3.1.2
numpy==1.24.4
pylcs==0.1.1
tree_sitter==0.20.4
transformers~=4.46.3
accelerate>=0.26.0
bitsandbytes~=0.45.0
tqdm~=4.67.1
seaborn~=0.13.2